<div
    class="bg-pink flex p-4 w-full items-center justify-start gap-8 rounded-xl shadow-xl text-red font-medium hover:bg-red hover:text-pink duration-300 cursor-pointer group">
    <div class="flex items-center justify-center">
        <img [src]="userData.photo" alt="foto de perfil"
            class="w-24 h-24 rounded-full border-3 border-red group-hover:border-pink duration-300">
    </div>
    <div class="flex flex-col">
        <div class="flex gap-10 font-bold text-lg">
            <div class="flex flex-col items-start justify-between gap-4">
                <span>{{userData.name}}</span>
                <span *ngIf="student">{{ student.deficiency }}</span>
                <span *ngIf="professional">{{ professional.profission }}</span>
                <span *ngIf="unitManager">{{ unitManager.unit }}</span>
            </div>
            <div class="flex flex-col items-start justify-between gap-4">
                <span *ngIf="student">{{ student.assistive_technology }}</span>
                <span *ngIf="student">{{ student.registration }}</span>
            </div>
            <div class="flex flex-col items-start justify-between gap-4">
                <span *ngIf="student">{{ student.course }}</span>
            </div>
        </div>
        <div class="flex gap-4"></div>
    </div>
</div>