// Estilos personalizados para a navbar
header {
  transition: background-color 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header button:focus {
  outline: none;
}

header div.absolute {
  animation: fadeIn 0.2s ease-in-out;
}

//  Animação do dropdown
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header a {
  transition: color 0.3s ease-in-out;
}

// estilização do botão para adicionar transição
header .account-button {
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  transition: color 0.3s ease-in-out;
}

header .account-button-default {
  color: black;
}

header .account-button-scrolled {
  color: #c00023;
}
